################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/App.Application/bin/Debug/net10.0/App.Application.deps.json
/App/App.Application/bin/Debug/net10.0/App.Application.dll
/App/App.Application/bin/Debug/net10.0/App.Application.pdb
/App/App.Application/bin/Debug/net10.0/App.Domain.dll
/App/App.Application/bin/Debug/net10.0/App.Domain.pdb
/App/App.Application/obj/Debug/net10.0/ref/App.Application.dll
/App/App.Application/obj/Debug/net10.0/refint/App.Application.dll
/App/App.Application/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/App/App.Application/obj/Debug/net10.0/App.Appl.090A7001.Up2Date
/App/App.Application/obj/Debug/net10.0/App.Application.AssemblyInfo.cs
/App/App.Application/obj/Debug/net10.0/App.Application.AssemblyInfoInputs.cache
/App/App.Application/obj/Debug/net10.0/App.Application.assets.cache
/App/App.Application/obj/Debug/net10.0/App.Application.csproj.AssemblyReference.cache
/App/App.Application/obj/Debug/net10.0/App.Application.csproj.BuildWithSkipAnalyzers
/App/App.Application/obj/Debug/net10.0/App.Application.csproj.CoreCompileInputs.cache
/App/App.Application/obj/Debug/net10.0/App.Application.csproj.FileListAbsolute.txt
/App/App.Application/obj/Debug/net10.0/App.Application.dll
/App/App.Application/obj/Debug/net10.0/App.Application.GeneratedMSBuildEditorConfig.editorconfig
/App/App.Application/obj/Debug/net10.0/App.Application.GlobalUsings.g.cs
/App/App.Application/obj/Debug/net10.0/App.Application.pdb
/App/App.Application/obj/Debug/net10.0/App.Application.sourcelink.json
/App/App.Application/obj/Debug/net8.0/App.Application.AssemblyInfo.cs
/App/App.Application/obj/Debug/net8.0/App.Application.AssemblyInfoInputs.cache
/App/App.Application/obj/Debug/net8.0/App.Application.assets.cache
/App/App.Application/obj/Debug/net8.0/App.Application.csproj.AssemblyReference.cache
/App/App.Application/obj/Debug/net8.0/App.Application.GeneratedMSBuildEditorConfig.editorconfig
/App/App.Application/obj/Debug/net8.0/App.Application.GlobalUsings.g.cs
/App/App.Domain/bin/Debug/net10.0
/App/App.Domain/obj/Debug/net10.0/ref
/App/App.Domain/obj/Debug/net10.0/refint
/App/App.Domain/obj/Debug/net10.0
/App/App.Domain/obj/App.Domain.csproj.nuget.dgspec.json
/App/App.Domain/obj/App.Domain.csproj.nuget.g.props
/App/App.Domain/obj/project.assets.json
/App/App.Domain/obj/project.nuget.cache
/App/App.Domain/obj/Debug/net8.0/App.Domain.AssemblyInfo.cs
/App/App.Domain/obj/Debug/net8.0/App.Domain.AssemblyInfoInputs.cache
/App/App.Domain/obj/Debug/net8.0/App.Domain.assets.cache
/App/App.Domain/obj/Debug/net8.0/App.Domain.csproj.AssemblyReference.cache
/App/App.Domain/obj/Debug/net8.0/App.Domain.GeneratedMSBuildEditorConfig.editorconfig
/App/App.Domain/obj/Debug/net8.0/App.Domain.GlobalUsings.g.cs
/App/App.Infrastructure/bin/Debug/net10.0
/App/App.Infrastructure/obj/Debug/net10.0
/App/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.AssemblyInfo.cs
/App/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.AssemblyInfoInputs.cache
/App/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.assets.cache
/App/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.csproj.AssemblyReference.cache
/App/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/App/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.GlobalUsings.g.cs
/App/App.UI.Web/obj
/App/App.WebAPI/obj/Debug/net8.0
/App/App.UI.Web/Logs
/App/App.UI.Web/bin/Debug/net10.0
/App/App.WebAPI/obj
/App/App.Infrastructure/obj/App.Infrastructure.csproj.nuget.dgspec.json
/App/App.Infrastructure/obj/App.Infrastructure.csproj.nuget.g.props
/App/App.Infrastructure/obj/project.assets.json
/App/App.Infrastructure/obj/project.nuget.cache
/App/App.Infrastructure
/App/.vs/App/copilot-chat/d0c6e488/sessions
/App/.vs/App/CopilotIndices/18.5.39094.40336
/App/.vs/App/FileContentIndex/1011d3f0-dd6c-46f1-9180-0e2d340937a0.vsidx
/App/.vs/App/FileContentIndex/90626754-0d8a-48bc-b991-d82325a55ad0.vsidx
/App/.vs/App/FileContentIndex/a32f43c2-a76b-4765-902c-85c0e0e13961.vsidx
/App/.vs/App/FileContentIndex/f2648e35-4dc9-4e4f-a3b0-01b348ee3754.vsidx
/App/.vs/ProjectEvaluation
/App/App.Application/obj
/App/.vs/App/v18
