################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/.vs/App
/App/App.Application/bin/Debug/net10.0
/App/App.Application/obj/Debug/net10.0
/App/App.Domain/bin/Debug/net10.0
/App/App.Domain/obj/Debug/net10.0
/App/App.UI.Web/bin/Debug/net10.0
/App/App.UI.Web/obj
/App/.vs/ProjectEvaluation/app.metadata.v9.bin
/App/.vs/ProjectEvaluation/app.projects.v9.bin
/App/.vs/ProjectEvaluation/app.strings.v9.bin
/.gitignore
/.gitignore
/App/.vs/ProjectEvaluation/app.metadata.v9.bin
/App/.vs/ProjectEvaluation/app.projects.v9.bin
/App/.vs/ProjectEvaluation/app.strings.v9.bin
/.gitignore
/App/App.Infrastructure/obj/Debug/net10.0/ref/App.Infrastructure.dll
/App/App.Infrastructure/obj/Debug/net10.0/refint/App.Infrastructure.dll
/.gitignore
/.gitignore
/App/App.Domain/obj/Debug/net8.0/refint/App.Domain.dll
/App/App.Domain/obj/Debug/net8.0/refint/POS.Domain.dll
/App/App.Domain/obj/Debug/net8.0/ref/App.Domain.dll
/App/App.Domain/obj/Debug/net8.0/ref/POS.Domain.dll
/App/App.Infrastructure/bin/Debug/net10.0/App.Application.dll
/App/App.Infrastructure/bin/Debug/net10.0/App.Application.pdb
/App/App.Infrastructure/bin/Debug/net10.0/App.Domain.dll
/App/App.Infrastructure/bin/Debug/net10.0/App.Domain.pdb
/App/App.Infrastructure/bin/Debug/net10.0/App.Infrastructure.deps.json
/App/App.Infrastructure/bin/Debug/net10.0/App.Infrastructure.dll
/App/App.Infrastructure/bin/Debug/net10.0/App.Infrastructure.pdb
/App/.vs/App/DesignTimeBuild/.dtbcache.v2
/App/App.Infrastructure/obj/Debug/net10.0/ref/App.Infrastructure.dll
/App/App.Infrastructure/obj/Debug/net10.0/refint/App.Infrastructure.dll
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.AssemblyInfo.cs
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.AssemblyInfoInputs.cache
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.csproj.AssemblyReference.cache
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.csproj.CoreCompileInputs.cache
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.dll
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.pdb
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.sourcelink.json
/App/.vs/ProjectEvaluation/app.metadata.v10.bin
/App/.vs/ProjectEvaluation/app.projects.v10.bin
/App/.vs/ProjectEvaluation/app.strings.v10.bin
/.gitignore
/.gitignore
/.gitignore
/App/App.UI.Web/Logs
/App/App.Infrastructure/efpt.config.json
/App/App.Application/obj/App.Application.csproj.nuget.dgspec.json
/App/App.Application/obj/project.assets.json
/App/App.Application/obj/project.nuget.cache
/App/App.Domain/obj/App.Domain.csproj.nuget.dgspec.json
/App/App.Domain/obj/project.assets.json
/App/App.Domain/obj/project.nuget.cache
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.assets.cache
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.csproj.FileListAbsolute.txt
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.genruntimeconfig.cache
/App/App.Infrastructure/obj/App.Infrastructure.csproj.nuget.dgspec.json
/App/App.Infrastructure/obj/project.assets.json
/App/App.Infrastructure/obj/project.nuget.cache
/App/.vs/App/v18/DocumentLayout.backup.json
/App/.vs/App/v18/DocumentLayout.json
/App/.vs/App/v18/.suo
/App/App.Infrastructure/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/App/App.Application/obj/Debug/net10.0/App.Application.AssemblyInfo.cs
/App/App.Application/obj/App.Application.csproj.nuget.g.targets
/App/App.Application/obj/project.nuget.cache
*.targets
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.AssemblyInfo.cs
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/App/App.Infrastructure/obj/Debug/net10.0/App.Infrastructure.GlobalUsings.g.cs
/App/App.UI.Web/bin/Debug/net10.0/appsettings.json
/App/App.Domain/obj/Debug/net10.0/App.Domain.GeneratedMSBuildEditorConfig.editorconfig
*.props
/App/App.Infrastructure/obj/Debug/net10.0/App.Infr.D9A1D18F.Up2Date
*.BuildWithSkipAnalyzers
*.json
/App/App.UI.Web/appsettings.json
/App/App.UI.Web/appsettings.Development.json
/App/App.UI.Web/appsettings.Development.json
