USE [MANDE_03]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 6/21/2026 6:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Users] ON 

INSERT [dbo].[tbl_Users] ([Id], [Username], [Email], [PasswordHash], [FullName], [IsActive], [LastLoginDate], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'admin', N'admin@enterprise.local', N'admin123', N'System Administrator', 1, NULL, CAST(N'2026-05-14T20:02:38.5700000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[tbl_Users] ([Id], [Username], [Email], [PasswordHash], [FullName], [IsActive], [LastLoginDate], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'fathur', N'fathur@gmail.com', N'$2a$12$j9xbmO0wF4piAeM7BgSsWuCrWN4Jk8.N1bNIfbsDMIUKI6T9MPmpC', N'System Administrator', 1, NULL, CAST(N'2026-05-15T05:12:45.8100000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Users] OFF
GO
ALTER TABLE [dbo].[tbl_Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
