USE [MANDE_03]
GO
/****** Object:  Table [dbo].[tbl_Menus]    Script Date: 6/21/2026 6:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Menus](
	[Id] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Caption] [nvarchar](255) NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
	[Icon] [nvarchar](255) NULL,
	[Sort] [int] NOT NULL,
	[Css] [nvarchar](255) NULL,
	[MenuTitle] [nvarchar](255) NULL,
	[ParentId] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[Deleted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Menus] ([Id], [Name], [Caption], [Link], [Icon], [Sort], [Css], [MenuTitle], [ParentId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Deleted]) VALUES (N'DEP01', N'Department', N'Department', N'/Department', N'fa fa-circle', 1, NULL, N'Department', N'M004', CAST(N'2026-05-28T11:00:37.790' AS DateTime), CAST(N'2026-05-28T11:00:37.790' AS DateTime), N'system', N'system', NULL)
INSERT [dbo].[tbl_Menus] ([Id], [Name], [Caption], [Link], [Icon], [Sort], [Css], [MenuTitle], [ParentId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Deleted]) VALUES (N'EMP01', N'Employees', N'Employees', N'/Employee', N'fa fa-circle', 1, NULL, N'Employees', N'M004', CAST(N'2026-05-28T11:00:37.790' AS DateTime), CAST(N'2026-05-28T11:00:37.790' AS DateTime), N'system', N'system', NULL)
INSERT [dbo].[tbl_Menus] ([Id], [Name], [Caption], [Link], [Icon], [Sort], [Css], [MenuTitle], [ParentId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Deleted]) VALUES (N'ES01', N'EmployeeSalary', N'Employee Salary', N'/EmployeeSalary', N'fa fa-circle', 12, NULL, N'Employee Salary', N'M004', CAST(N'2026-06-13T21:35:37.217' AS DateTime), CAST(N'2026-06-13T21:35:37.217' AS DateTime), N'system', N'system', NULL)
GO
