USE [MANDE_03]
GO
/****** Object:  UserDefinedTableType [dbo].[type_EmployeeSalary]    Script Date: 6/28/2026 7:58:39 PM ******/
CREATE TYPE [dbo].[type_EmployeeSalary] AS TABLE(
	[EmployeeId] [int] NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[type_EmployeeSalaryDetail]    Script Date: 6/28/2026 7:58:39 PM ******/
CREATE TYPE [dbo].[type_EmployeeSalaryDetail] AS TABLE(
	[EmployeeId] [int] NOT NULL,
	[ComponentCode] [varchar](20) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL
)
GO
/****** Object:  Table [dbo].[tbl_Shift]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Shift](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShiftCode] [varchar](20) NULL,
	[ShiftName] [varchar](100) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[BreakStart] [time](7) NULL,
	[BreakEnd] [time](7) NULL,
	[WorkingHours] [decimal](5, 2) NULL,
	[IsOvernight] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeeShiftSchedule]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeShiftSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[WorkDate] [datetime] NULL,
	[ShiftId] [int] NULL,
	[IsRestDay] [bit] NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK__tbl_Empl__3214EC0743913644] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Employees]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](20) NOT NULL,
	[FullName] [varchar](255) NOT NULL,
	[Gender] [varchar](50) NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[ResignDate] [datetime] NULL,
	[Department] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[BasicSalary] [decimal](18, 2) NOT NULL,
	[Email] [varchar](255) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[BankName] [varchar](100) NULL,
	[BankAccountNumber] [varchar](50) NULL,
	[NPWP] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[DefaultShift] [int] NULL,
	[PTKPCode] [varchar](50) NULL,
 CONSTRAINT [PK__tbl_Empl__7AD04F11AD6E2F2B] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmployeeMonthlySchedule]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--/****** Object:  View [dbo].[vw_EmployeeMonthlySchedule]    Script Date: 6/13/2026 10:41:38 AM ******/
--SET ANSI_NULLS ON
--GO

--SET QUOTED_IDENTIFIER ON
--GO

--select * from [vw_EmployeeMonthlySchedule]

CREATE view [dbo].[vw_EmployeeMonthlySchedule]
as 
WITH ShiftSchedule AS
(
    SELECT
        ess.EmployeeId,
        e.EmployeeCode,
        e.FullName,

        YEAR(ess.WorkDate) AS YearNo,
        MONTH(ess.WorkDate) AS MonthNo,

        MAX(CASE WHEN DAY(ess.WorkDate) = 1
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day1,

        MAX(CASE WHEN DAY(ess.WorkDate) = 2
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day2,

        MAX(CASE WHEN DAY(ess.WorkDate) = 3
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day3,

        MAX(CASE WHEN DAY(ess.WorkDate) = 4
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day4,

        MAX(CASE WHEN DAY(ess.WorkDate) = 5
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day5,

        MAX(CASE WHEN DAY(ess.WorkDate) = 6
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day6,

        MAX(CASE WHEN DAY(ess.WorkDate) = 7
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day7,

        MAX(CASE WHEN DAY(ess.WorkDate) = 8
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day8,

        MAX(CASE WHEN DAY(ess.WorkDate) = 9
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day9,

        MAX(CASE WHEN DAY(ess.WorkDate) = 10
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day10,

        MAX(CASE WHEN DAY(ess.WorkDate) = 11
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day11,

        MAX(CASE WHEN DAY(ess.WorkDate) = 12
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day12,

        MAX(CASE WHEN DAY(ess.WorkDate) = 13
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day13,

        MAX(CASE WHEN DAY(ess.WorkDate) = 14
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day14,

        MAX(CASE WHEN DAY(ess.WorkDate) = 15
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day15,

        MAX(CASE WHEN DAY(ess.WorkDate) = 16
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day16,

        MAX(CASE WHEN DAY(ess.WorkDate) = 17
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day17,

        MAX(CASE WHEN DAY(ess.WorkDate) = 18
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day18,

        MAX(CASE WHEN DAY(ess.WorkDate) = 19
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day19,

        MAX(CASE WHEN DAY(ess.WorkDate) = 20
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day20,

        MAX(CASE WHEN DAY(ess.WorkDate) = 21
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day21,

        MAX(CASE WHEN DAY(ess.WorkDate) = 22
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day22,

        MAX(CASE WHEN DAY(ess.WorkDate) = 23
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day23,

        MAX(CASE WHEN DAY(ess.WorkDate) = 24
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day24,

        MAX(CASE WHEN DAY(ess.WorkDate) = 25
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day25,

        MAX(CASE WHEN DAY(ess.WorkDate) = 26
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day26,

        MAX(CASE WHEN DAY(ess.WorkDate) = 27
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day27,

        MAX(CASE WHEN DAY(ess.WorkDate) = 28
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day28,

        MAX(CASE WHEN DAY(ess.WorkDate) = 29
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day29,

        MAX(CASE WHEN DAY(ess.WorkDate) = 30
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day30,

        MAX(CASE WHEN DAY(ess.WorkDate) = 31
            THEN CASE WHEN ess.IsRestDay = 1 THEN 'OFF'
                      ELSE s.ShiftCode END
            END) AS Day31

    FROM tbl_EmployeeShiftSchedule ess
    INNER JOIN tbl_Employees e
        ON e.EmployeeId = ess.EmployeeId
    LEFT JOIN tbl_Shift s
        ON s.Id = ess.ShiftId

    GROUP BY
        ess.EmployeeId,
        e.EmployeeCode,
        e.FullName,
        YEAR(ess.WorkDate),
        MONTH(ess.WorkDate)
)

SELECT
    ROW_NUMBER() OVER (
        PARTITION BY YearNo, MonthNo
        ORDER BY EmployeeId
    ) AS RowNumber,

    EmployeeId,
    EmployeeCode,
    FullName AS EmployeeName,
    YearNo,
    MonthNo,

    Day1, Day2, Day3, Day4, Day5, Day6, Day7, Day8,
    Day9, Day10, Day11, Day12, Day13, Day14, Day15, Day16,
    Day17, Day18, Day19, Day20, Day21, Day22, Day23, Day24,
    Day25, Day26, Day27, Day28, Day29, Day30, Day31

FROM ShiftSchedule
--ORDER BY
--    YearNo,
--    MonthNo,
--    EmployeeId;
GO
/****** Object:  Table [dbo].[tbl_Positions]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Positions](
	[PositionCode] [varchar](50) NOT NULL,
	[PositionName] [varchar](100) NULL,
	[GradeLevel] [varchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK__Position__60BB9A799D578AAB] PRIMARY KEY CLUSTERED 
(
	[PositionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Departments]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Departments](
	[DepartmentCode] [varchar](50) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK__Departme__B2079BED1D3A0B65] PRIMARY KEY CLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeeSalary]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeSalary](
	[EmployeeId] [int] NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_EmployeeSalary] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmployeeSalary]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE view [dbo].[vw_EmployeeSalary]
as

SELECT
    e.EmployeeId,
    e.EmployeeCode,
    e.Fullname EmployeeName
    , isnull(e.Position,'') Position
    , isnull(e.Department,'') Department
    , isnull(p.PositionName,'') PositionDescription
    , isnull(d.DepartmentName,'')  DepartmentDescription
FROM tbl_Employees e 
LEFT JOIN tbl_EmployeeSalary s ON s.EmployeeId = e.EmployeeId
left join tbl_Departments d on d.DepartmentCode = e.Department
left join tbl_Positions p on p.PositionCode = e.Position
GO
/****** Object:  Table [dbo].[tbl_Branches]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchCode] [varchar](20) NULL,
	[BranchName] [varchar](100) NULL,
	[Address] [varchar](191) NULL,
	[BranchHeadEmployeeId] [int] NULL,
	[CompanyProfileId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CompanyProfiles]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CompanyProfiles](
	[CompanyProfileId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[CompanyAddress] [nvarchar](500) NOT NULL,
	[LogoFileName] [nvarchar](255) NULL,
	[LogoFilePath] [nvarchar](500) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](150) NULL,
	[TaxNumber] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BranchDetails]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_BranchDetails]
as

select 
a.id, a.BranchCode, a.BranchName, a.Address, a.BranchHeadEmployeeId, a.CompanyProfileId, a.IsActive,
a.CreatedDate, a.UpdatedDate, a.CreatedBy, a.UpdatedBy,
b.EmployeeCode, b.FullName,
c.CompanyName
from tbl_Branches a
left join tbl_employees b on a.BranchHeadEmployeeId = b.EmployeeId
left join tbl_CompanyProfiles c on a.CompanyProfileId = c.CompanyProfileId
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](100) NULL,
	[RecordId] [bigint] NULL,
	[ActionType] [varchar](20) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[PerformedBy] [int] NULL,
	[PerformedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollPeriods]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollPeriods](
	[PayrollPeriodId] [int] IDENTITY(1,1) NOT NULL,
	[PeriodMonth] [int] NOT NULL,
	[PeriodYear] [int] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IsClosed] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollPeriodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERILOG]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERILOG](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[MessageTemplate] [nvarchar](max) NULL,
	[Level] [nvarchar](16) NULL,
	[TimeStamp] [datetime] NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
	[MachineName] [nvarchar](100) NULL,
	[Username] [nvarchar](256) NULL,
 CONSTRAINT [PK_SERILOG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxBrackets]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxBrackets](
	[TaxBracketId] [int] IDENTITY(1,1) NOT NULL,
	[MinAmount] [decimal](18, 2) NULL,
	[MaxAmount] [decimal](18, 2) NULL,
	[TaxRate] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaxBracketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Allowance]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Allowance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AllowanceCode] [varchar](50) NOT NULL,
	[AllowanceName] [varchar](100) NOT NULL,
	[IsTaxable] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Attendance]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Attendance](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[ShiftId] [int] NULL,
	[ScheduledTimeIn] [time](0) NULL,
	[ScheduledTimeOut] [time](0) NULL,
	[ActualTimeIn] [time](0) NULL,
	[ActualTimeOut] [time](0) NULL,
	[LateMinutes] [int] NOT NULL,
	[EarlyOutMinutes] [int] NOT NULL,
	[WorkMinutes] [int] NOT NULL,
	[OvertimeMinutes] [int] NOT NULL,
	[AttendanceStatus] [varchar](30) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[IsHoliday] [bit] NOT NULL,
	[IsWeekend] [bit] NOT NULL,
	[IsManualEntry] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Attendances]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Attendances](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[CheckInTime] [time](7) NULL,
	[CheckOutTime] [time](7) NULL,
	[AttendanceStatus] [nvarchar](50) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AttendanceStatus]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AttendanceStatus](
	[Name] [varchar](50) NULL,
	[Description] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AuditLogs]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[ModuleName] [nvarchar](100) NULL,
	[ActionName] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](100) NULL,
	[BrowserInfo] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_BiayaJabatanConfig]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BiayaJabatanConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rate] [decimal](5, 4) NULL,
	[MaxMonthly] [decimal](18, 2) NULL,
	[MaxYearly] [decimal](18, 2) NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_BPJSKesehatanConfig]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BPJSKesehatanConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeRate] [decimal](5, 4) NOT NULL,
	[CompanyRate] [decimal](5, 4) NOT NULL,
	[SalaryCap] [decimal](18, 2) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_BPJSKetenagakerjaanConfig]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BPJSKetenagakerjaanConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JHT_EmployeeRate] [decimal](5, 4) NULL,
	[JHT_CompanyRate] [decimal](5, 4) NULL,
	[JP_EmployeeRate] [decimal](5, 4) NULL,
	[JP_CompanyRate] [decimal](5, 4) NULL,
	[JKK_CompanyRate] [decimal](5, 4) NULL,
	[JKM_CompanyRate] [decimal](5, 4) NULL,
	[SalaryCap] [decimal](18, 2) NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Deduction]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Deduction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeductionCode] [varchar](50) NULL,
	[DeductionName] [varchar](100) NULL,
	[IsTaxable] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeeAllowance]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeAllowance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[AllowanceId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeeDeduction]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeDeduction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[DeductionId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeePayroll]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeePayroll](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[BasicSalary] [decimal](18, 2) NOT NULL,
	[PTKPCode] [varchar](10) NOT NULL,
	[NPWP] [varchar](50) NULL,
	[IsBPJSKesehatan] [bit] NOT NULL,
	[IsBPJSKetenagakerjaan] [bit] NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeePayrollInfo]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeePayrollInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[NPWP] [varchar](50) NULL,
	[PTKPCode] [varchar](10) NULL,
	[BasicSalary] [decimal](18, 2) NULL,
	[IsBPJSKesehatan] [bit] NULL,
	[IsBPJSKetenagakerjaan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeeSalaryDetail]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeSalaryDetail](
	[EmployeeId] [int] NOT NULL,
	[ComponentCode] [varchar](20) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_EmployeeSalaryDetail] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[ComponentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeeShift]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeShift](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[ShiftId] [int] NULL,
	[EffectiveFrom] [date] NULL,
	[EffectiveTo] [date] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Holiday]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Holiday](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HolidayDate] [datetime] NOT NULL,
	[HolidayName] [varchar](200) NOT NULL,
	[IsNationalHoliday] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK__tbl_Holi__3214EC078D0D7029] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LeaveRequests]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LeaveRequests](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BranchCode] [varchar](20) NOT NULL,
	[DepartmentCode] [varchar](50) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[LeaveTypeCode] [varchar](20) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[TotalDays] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[ApprovalStatus] [nvarchar](50) NOT NULL,
	[ApprovedBy] [bigint] NULL,
	[ApprovedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LeaveType]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LeaveType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeaveCode] [varchar](20) NULL,
	[LeaveName] [varchar](100) NULL,
	[DefaultAnnualQuota] [int] NULL,
	[IsPaid] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Menus]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Menus](
	[Id] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Caption] [nvarchar](255) NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
	[Icon] [nvarchar](255) NULL,
	[Sort] [int] NOT NULL,
	[Css] [nvarchar](255) NULL,
	[MenuTitle] [nvarchar](255) NULL,
	[ParentId] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[Deleted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Overtime]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Overtime](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[OvertimeDate] [date] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[TotalHours] [decimal](10, 2) NOT NULL,
	[Reason] [varchar](500) NULL,
	[Status] [varchar](20) NOT NULL,
	[ApprovedBy] [varchar](50) NULL,
	[ApprovedDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OvertimeCalculation]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OvertimeCalculation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OvertimeId] [int] NOT NULL,
	[Hour1Amount] [decimal](18, 2) NOT NULL,
	[Hour2Amount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CalculatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OvertimeRate]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OvertimeRate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HourFrom] [int] NULL,
	[HourTo] [int] NULL,
	[Multiplier] [decimal](10, 2) NULL,
	[EffectiveDate] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PayrollDetails]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PayrollDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PayrollId] [bigint] NOT NULL,
	[ComponentType] [nvarchar](50) NOT NULL,
	[ComponentName] [nvarchar](255) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PayrollPeriods]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PayrollPeriods](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PeriodCode] [nvarchar](20) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[ClosedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PayrollPolicy]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PayrollPolicy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyName] [varchar](100) NULL,
	[WorkingDaysPerMonth] [int] NOT NULL,
	[DeductLate] [bit] NOT NULL,
	[DeductEarlyOut] [bit] NOT NULL,
	[LatePenaltyPerMinute] [decimal](18, 2) NOT NULL,
	[EarlyOutPenaltyPerMinute] [decimal](18, 2) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PayrollResult]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PayrollResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PayrollRunId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[BasicSalary] [decimal](18, 2) NULL,
	[Allowance] [decimal](18, 2) NULL,
	[Overtime] [decimal](18, 2) NULL,
	[GrossSalary] [decimal](18, 2) NULL,
	[BPJSKesehatan] [decimal](18, 2) NULL,
	[BPJSKetenagakerjaan] [decimal](18, 2) NULL,
	[BiayaJabatan] [decimal](18, 2) NULL,
	[PPh21] [decimal](18, 2) NULL,
	[TotalDeduction] [decimal](18, 2) NULL,
	[NetSalary] [decimal](18, 2) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PayrollResultDetail]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PayrollResultDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PayrollResultId] [int] NOT NULL,
	[ItemType] [varchar](20) NULL,
	[ItemCode] [varchar](50) NULL,
	[ItemDescription] [varchar](100) NULL,
	[Amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PayrollRun]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PayrollRun](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodYear] [int] NULL,
	[PeriodMonth] [int] NULL,
	[Status] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Payrolls]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payrolls](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PayrollNumber] [nvarchar](100) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[PayrollPeriodId] [bigint] NOT NULL,
	[BasicSalary] [decimal](18, 2) NOT NULL,
	[AllowanceAmount] [decimal](18, 2) NOT NULL,
	[DeductionAmount] [decimal](18, 2) NOT NULL,
	[GrossSalary] [decimal](18, 2) NOT NULL,
	[NetSalary] [decimal](18, 2) NOT NULL,
	[PayrollStatus] [nvarchar](50) NOT NULL,
	[ApprovedBy] [bigint] NULL,
	[ApprovedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Payslip]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payslip](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PayrollResultId] [int] NOT NULL,
	[FileName] [varchar](500) NULL,
	[GeneratedDate] [datetime] NULL,
	[GeneratedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Permissions]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Permissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](100) NOT NULL,
	[PermissionName] [nvarchar](255) NOT NULL,
	[ModuleName] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PPh21Bracket]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PPh21Bracket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MinAmount] [decimal](18, 2) NOT NULL,
	[MaxAmount] [decimal](18, 2) NULL,
	[TaxRate] [decimal](5, 4) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PTKP]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PTKP](
	[PTKPCode] [varchar](50) NOT NULL,
	[PTKPName] [varchar](255) NOT NULL,
	[NominalYearly] [decimal](18, 2) NULL,
	[NominalMonthly] [decimal](18, 2) NULL,
	[TERCategory] [char](1) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_PTKP] PRIMARY KEY CLUSTERED 
(
	[PTKPCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RolePermissions]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RolePermissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[PermissionId] [bigint] NOT NULL,
	[AssignedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Roles]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](100) NOT NULL,
	[RoleName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK__tbl_Role__3214EC075E5D7AB3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SalaryComponents]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SalaryComponents](
	[ComponentCode] [varchar](20) NOT NULL,
	[ComponentName] [varchar](100) NOT NULL,
	[ComponentType] [varchar](20) NOT NULL,
	[CalculationType] [varchar](20) NOT NULL,
	[DefaultAmount] [decimal](18, 2) NULL,
	[IsTaxable] [bit] NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ComponentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ShiftPattern]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ShiftPattern](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatternCode] [varchar](50) NULL,
	[PatternName] [varchar](100) NULL,
	[CycleLength] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ShiftPatternDetail]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ShiftPatternDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatternId] [int] NULL,
	[SequenceNo] [int] NULL,
	[ShiftId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserRoles]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserRoles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[AssignedDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [PerformedAt]
GO
ALTER TABLE [dbo].[PayrollPeriods] ADD  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[PayrollPeriods] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tbl_Allowance] ADD  DEFAULT ((1)) FOR [IsTaxable]
GO
ALTER TABLE [dbo].[tbl_Allowance] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Allowance] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Attendance] ADD  DEFAULT ((0)) FOR [LateMinutes]
GO
ALTER TABLE [dbo].[tbl_Attendance] ADD  DEFAULT ((0)) FOR [EarlyOutMinutes]
GO
ALTER TABLE [dbo].[tbl_Attendance] ADD  DEFAULT ((0)) FOR [WorkMinutes]
GO
ALTER TABLE [dbo].[tbl_Attendance] ADD  DEFAULT ((0)) FOR [OvertimeMinutes]
GO
ALTER TABLE [dbo].[tbl_Attendance] ADD  DEFAULT ((1)) FOR [IsManualEntry]
GO
ALTER TABLE [dbo].[tbl_Attendance] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Attendances] ADD  DEFAULT ('Present') FOR [AttendanceStatus]
GO
ALTER TABLE [dbo].[tbl_Attendances] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_BiayaJabatanConfig] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_BPJSKesehatanConfig] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_BPJSKetenagakerjaanConfig] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_CompanyProfiles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_CompanyProfiles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Deduction] ADD  DEFAULT ((0)) FOR [IsTaxable]
GO
ALTER TABLE [dbo].[tbl_Deduction] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_EmployeeAllowance] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_EmployeeAllowance] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_EmployeeDeduction] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_EmployeePayroll] ADD  DEFAULT ('TK0') FOR [PTKPCode]
GO
ALTER TABLE [dbo].[tbl_EmployeePayroll] ADD  DEFAULT ((1)) FOR [IsBPJSKesehatan]
GO
ALTER TABLE [dbo].[tbl_EmployeePayroll] ADD  DEFAULT ((1)) FOR [IsBPJSKetenagakerjaan]
GO
ALTER TABLE [dbo].[tbl_EmployeePayroll] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Employees] ADD  CONSTRAINT [DF__tbl_Emplo__Basic__625A9A57]  DEFAULT ((0)) FOR [BasicSalary]
GO
ALTER TABLE [dbo].[tbl_EmployeeSalary] ADD  CONSTRAINT [DF__tbl_Emplo__IsAct__45544755]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_LeaveRequests] ADD  DEFAULT ((0)) FOR [TotalDays]
GO
ALTER TABLE [dbo].[tbl_LeaveRequests] ADD  DEFAULT ('Pending') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[tbl_LeaveRequests] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Overtime] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[tbl_Overtime] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_OvertimeCalculation] ADD  DEFAULT (getdate()) FOR [CalculatedDate]
GO
ALTER TABLE [dbo].[tbl_OvertimeRate] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_PayrollDetails] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[tbl_PayrollPeriods] ADD  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[tbl_PayrollPeriods] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_PayrollPolicy] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_PayrollResult] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_PayrollRun] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Payrolls] ADD  DEFAULT ((0)) FOR [BasicSalary]
GO
ALTER TABLE [dbo].[tbl_Payrolls] ADD  DEFAULT ((0)) FOR [AllowanceAmount]
GO
ALTER TABLE [dbo].[tbl_Payrolls] ADD  DEFAULT ((0)) FOR [DeductionAmount]
GO
ALTER TABLE [dbo].[tbl_Payrolls] ADD  DEFAULT ((0)) FOR [GrossSalary]
GO
ALTER TABLE [dbo].[tbl_Payrolls] ADD  DEFAULT ((0)) FOR [NetSalary]
GO
ALTER TABLE [dbo].[tbl_Payrolls] ADD  DEFAULT ('Draft') FOR [PayrollStatus]
GO
ALTER TABLE [dbo].[tbl_Payrolls] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Payslip] ADD  DEFAULT (getdate()) FOR [GeneratedDate]
GO
ALTER TABLE [dbo].[tbl_Permissions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_PPh21Bracket] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_RolePermissions] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[tbl_Shift] ADD  DEFAULT ((0)) FOR [IsOvernight]
GO
ALTER TABLE [dbo].[tbl_Shift] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_UserRoles] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[tbl_Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[tbl_Attendance] CHECK CONSTRAINT [FK_Attendance_Employee]
GO
ALTER TABLE [dbo].[tbl_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Shift] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[tbl_Shift] ([Id])
GO
ALTER TABLE [dbo].[tbl_Attendance] CHECK CONSTRAINT [FK_Attendance_Shift]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveEmployeeSalary]    Script Date: 6/28/2026 7:58:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_SaveEmployeeSalary]
(
    @EmployeeSalaries dbo.type_EmployeeSalary READONLY,
    @EmployeeSalaryDetails dbo.type_EmployeeSalaryDetail READONLY
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        ------------------------------------------------------
        -- Update Existing Employee Salary
        ------------------------------------------------------
        UPDATE ES
        SET
            ES.EffectiveDate = TVP.EffectiveDate,
            ES.IsActive      = TVP.IsActive,
            ES.UpdatedDate   = TVP.UpdatedDate,
            ES.UpdatedBy     = TVP.UpdatedBy
        FROM dbo.tbl_EmployeeSalary ES
        INNER JOIN @EmployeeSalaries TVP
            ON ES.EmployeeId = TVP.EmployeeId;

        ------------------------------------------------------
        -- Insert New Employee Salary
        ------------------------------------------------------
        INSERT INTO dbo.tbl_EmployeeSalary
        (
            EmployeeId,
            EffectiveDate,
            IsActive,
            CreatedDate,
            UpdatedDate,
            CreatedBy,
            UpdatedBy
        )
        SELECT
            TVP.EmployeeId,
            TVP.EffectiveDate,
            TVP.IsActive,
            TVP.CreatedDate,
            TVP.UpdatedDate,
            TVP.CreatedBy,
            TVP.UpdatedBy
        FROM @EmployeeSalaries TVP
        LEFT JOIN dbo.tbl_EmployeeSalary ES
            ON ES.EmployeeId = TVP.EmployeeId
        WHERE ES.EmployeeId IS NULL;

        ------------------------------------------------------
        -- Delete Existing Details
        ------------------------------------------------------
        DELETE D
        FROM dbo.tbl_EmployeeSalaryDetail D
        INNER JOIN @EmployeeSalaries S
            ON D.EmployeeId = S.EmployeeId;

        ------------------------------------------------------
        -- Insert Details
        ------------------------------------------------------
        INSERT INTO dbo.tbl_EmployeeSalaryDetail
        (
            EmployeeId,
            ComponentCode,
            Amount,
            CreatedDate,
            UpdatedDate,
            CreatedBy,
            UpdatedBy
        )
        SELECT
            EmployeeId,
            ComponentCode,
            Amount,
            CreatedDate,
            UpdatedDate,
            CreatedBy,
            UpdatedBy
        FROM @EmployeeSalaryDetails;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
