USE [MiniPayroll]
GO
/****** Object:  Table [dbo].[mst_allowance]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mst_allowance](
	[code] [varchar](4) NOT NULL,
	[name] [varchar](100) NULL,
	[allowance_type] [varchar](5) NULL,
	[notes] [varchar](500) NULL,
	[amount] [decimal](18, 2) NULL,
	[amount_type] [varchar](50) NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK_ms_tunjangan] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mst_deduction]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mst_deduction](
	[code] [varchar](4) NOT NULL,
	[name] [varchar](100) NULL,
	[notes] [varchar](200) NULL,
	[deduction_type] [varchar](5) NULL,
	[amount] [decimal](18, 2) NULL,
	[amount_type] [varchar](50) NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_ms_Potongan] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mst_employee]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mst_employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[nik] [varchar](20) NULL,
	[position] [varchar](50) NULL,
	[departemen] [varchar](50) NULL,
	[birthdate] [date] NOT NULL,
	[address] [varchar](200) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NOT NULL,
	[marital_status] [varchar](20) NULL,
	[number_of_children] [int] NULL,
	[entry_date] [date] NOT NULL,
	[resign_date] [date] NULL,
	[account_name] [varchar](50) NULL,
	[account_no] [varchar](50) NULL,
	[bank_name] [nchar](10) NULL,
	[basic_salary] [decimal](18, 0) NULL,
	[active] [bit] NOT NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK__ms_Karya__3214EC07B7723E65] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mst_salary_component]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[mst_salary_component](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[component_type] [varchar](20) NOT NULL,
	[deduction_code] [varchar](4) NULL,
	[allowance_code] [varchar](4) NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK__ms_kompo__3213E83F4EBF17A0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ref_allowance_type]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ref_allowance_type](
	[code] [varchar](5) NOT NULL,
	[name] [varchar](50) NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK_Tipe_Tunjangan] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ref_claim_type]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ref_claim_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[notes] [varchar](500) NULL,
 CONSTRAINT [PK_ref_claim_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ref_deduction_type]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ref_deduction_type](
	[code] [varchar](5) NOT NULL,
	[name] [varchar](50) NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK_tipe_potongan] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trx_allowance]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trx_allowance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[payroll_id] [int] NULL,
	[allowance_code] [varchar](4) NULL,
	[amount] [decimal](18, 2) NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK_trx_Tunjangan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trx_claim]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trx_claim](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[date] [date] NULL,
	[claim_type] [int] NULL,
	[amount] [decimal](18, 2) NULL,
	[notes] [varchar](500) NULL,
	[status] [varchar](10) NULL,
	[file_type] [varchar](10) NULL,
	[file_path] [varbinary](max) NULL,
 CONSTRAINT [PK_actual_claim] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trx_claim_payment]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trx_claim_payment](
	[id] [int] NOT NULL,
	[claim_id] [int] NULL,
	[date] [date] NULL,
	[amount] [decimal](18, 2) NULL,
	[status] [varchar](50) NULL,
	[attachment] [varbinary](max) NULL,
 CONSTRAINT [PK_claim_payment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trx_deduction]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trx_deduction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[payroll_id] [int] NULL,
	[deduction_code] [varchar](4) NULL,
	[amount] [decimal](18, 2) NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK_trx_Potongan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trx_log]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trx_log](
	[LogDate] [datetime] NOT NULL,
	[ComputerName] [varchar](100) NULL,
	[IPAddress] [varchar](15) NULL,
	[LogType] [varchar](50) NULL,
	[LogMessage] [varchar](max) NULL,
	[Username] [varchar](100) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trx_payroll]    Script Date: 12/09/2025 20:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trx_payroll](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[payment_date] [datetime] NULL,
	[employee_id] [int] NULL,
	[basic_salary] [decimal](18, 2) NULL,
	[total_allowance] [decimal](18, 2) NULL,
	[total_deduction] [decimal](18, 2) NULL,
	[net_salary] [decimal](18, 2) NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK_trx_gaji] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[trx_claim] ADD  CONSTRAINT [DF_actual_claim_status]  DEFAULT ('pending,approve,reject') FOR [status]
GO
ALTER TABLE [dbo].[mst_allowance]  WITH CHECK ADD  CONSTRAINT [FK_ms_allowance_ref_allowance_type] FOREIGN KEY([allowance_type])
REFERENCES [dbo].[ref_allowance_type] ([code])
GO
ALTER TABLE [dbo].[mst_allowance] CHECK CONSTRAINT [FK_ms_allowance_ref_allowance_type]
GO
ALTER TABLE [dbo].[mst_deduction]  WITH CHECK ADD  CONSTRAINT [FK_ms_deduction_ref_deduction_type] FOREIGN KEY([deduction_type])
REFERENCES [dbo].[ref_deduction_type] ([code])
GO
ALTER TABLE [dbo].[mst_deduction] CHECK CONSTRAINT [FK_ms_deduction_ref_deduction_type]
GO
ALTER TABLE [dbo].[mst_salary_component]  WITH CHECK ADD  CONSTRAINT [FK_ms_salary_component_ms_allowance] FOREIGN KEY([allowance_code])
REFERENCES [dbo].[mst_allowance] ([code])
GO
ALTER TABLE [dbo].[mst_salary_component] CHECK CONSTRAINT [FK_ms_salary_component_ms_allowance]
GO
ALTER TABLE [dbo].[mst_salary_component]  WITH CHECK ADD  CONSTRAINT [FK_ms_salary_component_ms_deduction] FOREIGN KEY([deduction_code])
REFERENCES [dbo].[mst_deduction] ([code])
GO
ALTER TABLE [dbo].[mst_salary_component] CHECK CONSTRAINT [FK_ms_salary_component_ms_deduction]
GO
ALTER TABLE [dbo].[trx_allowance]  WITH CHECK ADD  CONSTRAINT [FK_trx_allowance_ms_allowance] FOREIGN KEY([allowance_code])
REFERENCES [dbo].[mst_allowance] ([code])
GO
ALTER TABLE [dbo].[trx_allowance] CHECK CONSTRAINT [FK_trx_allowance_ms_allowance]
GO
ALTER TABLE [dbo].[trx_allowance]  WITH CHECK ADD  CONSTRAINT [FK_trx_allowance_trx_payroll] FOREIGN KEY([payroll_id])
REFERENCES [dbo].[trx_payroll] ([id])
GO
ALTER TABLE [dbo].[trx_allowance] CHECK CONSTRAINT [FK_trx_allowance_trx_payroll]
GO
ALTER TABLE [dbo].[trx_claim]  WITH CHECK ADD  CONSTRAINT [FK_trx_claim_ms_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[mst_employee] ([id])
GO
ALTER TABLE [dbo].[trx_claim] CHECK CONSTRAINT [FK_trx_claim_ms_employee]
GO
ALTER TABLE [dbo].[trx_claim]  WITH CHECK ADD  CONSTRAINT [FK_trx_claim_ref_claim_type] FOREIGN KEY([claim_type])
REFERENCES [dbo].[ref_claim_type] ([id])
GO
ALTER TABLE [dbo].[trx_claim] CHECK CONSTRAINT [FK_trx_claim_ref_claim_type]
GO
ALTER TABLE [dbo].[trx_claim_payment]  WITH CHECK ADD  CONSTRAINT [FK_trx_claim_payment_trx_claim] FOREIGN KEY([claim_id])
REFERENCES [dbo].[trx_claim] ([id])
GO
ALTER TABLE [dbo].[trx_claim_payment] CHECK CONSTRAINT [FK_trx_claim_payment_trx_claim]
GO
ALTER TABLE [dbo].[trx_deduction]  WITH CHECK ADD  CONSTRAINT [FK_trx_deduction_ms_deduction] FOREIGN KEY([deduction_code])
REFERENCES [dbo].[mst_deduction] ([code])
GO
ALTER TABLE [dbo].[trx_deduction] CHECK CONSTRAINT [FK_trx_deduction_ms_deduction]
GO
ALTER TABLE [dbo].[trx_deduction]  WITH CHECK ADD  CONSTRAINT [FK_trx_deduction_trx_payroll] FOREIGN KEY([payroll_id])
REFERENCES [dbo].[trx_payroll] ([id])
GO
ALTER TABLE [dbo].[trx_deduction] CHECK CONSTRAINT [FK_trx_deduction_trx_payroll]
GO
ALTER TABLE [dbo].[trx_payroll]  WITH CHECK ADD  CONSTRAINT [FK_trx_payroll_ms_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[mst_employee] ([id])
GO
ALTER TABLE [dbo].[trx_payroll] CHECK CONSTRAINT [FK_trx_payroll_ms_employee]
GO
ALTER TABLE [dbo].[mst_allowance]  WITH CHECK ADD  CONSTRAINT [CK__ms_allowance__amount_type] CHECK  (([amount_type]='Fixed' OR [amount_type]='Percentage'))
GO
ALTER TABLE [dbo].[mst_allowance] CHECK CONSTRAINT [CK__ms_allowance__amount_type]
GO
ALTER TABLE [dbo].[mst_deduction]  WITH CHECK ADD  CONSTRAINT [CK__ms_deduction__amount_type] CHECK  (([amount_type]='Fixed' OR [amount_type]='Percentage'))
GO
ALTER TABLE [dbo].[mst_deduction] CHECK CONSTRAINT [CK__ms_deduction__amount_type]
GO
ALTER TABLE [dbo].[mst_salary_component]  WITH CHECK ADD  CONSTRAINT [CK__ms_kompon__component_tyoe__5BE2A6F2] CHECK  (([component_type]='DEDUCTION' OR [component_type]='ALLOWANCE'))
GO
ALTER TABLE [dbo].[mst_salary_component] CHECK CONSTRAINT [CK__ms_kompon__component_tyoe__5BE2A6F2]
GO
