USE [UserManagement]
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteMenu]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_DeleteMenu]

@ID int
as
begin
Delete from Menu WHERE ID=@ID
end

GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteRole]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_DeleteRole]
@ID int 
as
begin
DELETE FROM [Role]
      WHERE ID=@ID
end

GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteUser]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Usp_DeleteUser]
 @Username varchar(50)
 as
 begin


DELETE FROM [User]
      WHERE Username =@Username
END


GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteUserRole]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_DeleteUserRole]
 @Username varchar(50)
 
 
as 
begin
                    
DELETE FROM UserRole
      WHERE Username =@Username
end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetLogPaging]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[Usp_GetLogPaging]

 @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

declare @Log as table (
	[LogDate] [datetime] NOT NULL,
	[ComputerName] [varchar](100) NULL,
	[IPAddress] [varchar](15) NULL,
	[LogType] [varchar](50) NULL,
	[LogMessage] [varchar](max) NULL,
	[Username] [varchar](100) NULL,
	[app_id] [uniqueidentifier],
	RowIndex int  null
	);

insert into @Log
SELECT [LogDate]
      ,[ComputerName]
      ,[IPAddress]
      ,[LogType]
      ,[LogMessage]
      ,[Username]
      ,[app_id]
	  ,ROW_NUMBER() OVER(ORDER BY [LogDate] ) AS RowIndex
  FROM [dbo].[Log]


select * from @Log ORDER BY RowIndex
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

end


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetMenu]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_GetMenu]
as
begin
 SELECT * FROM MENU 
 order by [Sequence]
end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetMenuByID]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_GetMenuByID]

@ID int
as
begin
SELECT * FROM Menu
where ID=@ID

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetMenuByUsername]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Usp_GetMenuByUsername]
@Username varchar(100)
as
begin
 
 
 SELECT distinct t1.* FROM MENU t1 
 inner join [dbo].[Previllage] t2 on t2.MenuID = t1.ID
 inner join [UserRole] t3 on t3.RoleID = t2.RoleID
 where t3.Username=@Username
 order by [Sequence]
end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetMenuPaging]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[Usp_GetMenuPaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

declare @Menu as table
(
	[ID] [int]  NULL,
	[Code] [varchar](100) NULL,
	[Name] [varchar](500) NULL,
	[ParentID] [int] NULL,
	[Sequence] [int] NULL,
	[Ico] [varchar](500) NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Shortcut] [varchar](500) NULL,
	[Ctrl] [int] NULL,
	[Shift] [int] NULL,
	[Alt] [int] NULL,
	[Route] [varchar](100) NULL,
	[Action] [varchar](100) NULL,
	[ParentCode] [varchar](100) NULL,
	[ParentName] [varchar](500) NULL,
	[ParentDescription] [varchar](max) NULL,
	RowIndex int  null
);
insert into @Menu
SELECT 
m.ID	
,m.Code	
,m.Name	
,m.ParentID	
,m.Sequence	
,m.Ico	
,m.Description	
,m.CreatedDate	
,m.CreatedBy	
,m.ModifiedDate	
,m.ModifiedBy	
,m.Shortcut	
,m.Ctrl	
,m.Shift	
,m.Alt	
,m.Route	
,m.Action	
,parent.Code as ParentCode	
,parent.Name as  ParentName	
,parent.Description	as ParentDescription	
,ROW_NUMBER() OVER(ORDER BY m.ParentID, m.[Sequence] ) AS RowIndex

FROM Menu m
left join Menu parent on parent.ID = m.ParentID
WHERE m.Name LIKE concat ('%', @text ,'%') 
OR m.Description LIKE concat ('%', @text ,'%') 
or parent.Name LIKE concat ('%', @text ,'%') 

select @totalRecord=count(1) from @Menu

select * from @Menu ORDER BY RowIndex
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

end


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPrevillage]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_GetPrevillage]
as
begin
      Select * from Previllage

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPrevillageByRole]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_GetPrevillageByRole]
@RoleID int 
as
begin
    SELECT *
  FROM Previllage
  where RoleID =@RoleID

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPrevillageByRoleMenu]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_GetPrevillageByRoleMenu]
@RoleID int 
,@MenuID int
as
begin

SELECT *
  FROM Previllage
  where RoleID =@RoleID
  and MenuID =@MenuID

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPrevillageByUsername]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Usp_GetPrevillageByUsername]
@Username varchar(50)
as
begin
SELECT p.* FROM previllage p 
INNER JOIN UserRole ur ON ur.RoleID =p.ROleID
WHERE ur.Username =@Username

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetRole]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_GetRole]
as
begin

SELECT *  FROM [Role]

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetRoleByID]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_GetRoleByID]
@ID int 
as
begin
SELECT *
  FROM [Role]
  where ID =@ID

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetRoleByUsername]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_GetRoleByUsername]
@Username varchar(50)
as
begin

SELECT r.*
  FROM UserRole
  INNER JOIN Role r ON r.ID = RoleID
  WHERE UserRole.Username =@Username

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetRolePaging]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[Usp_GetRolePaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

declare @Role as table (
	[ID] [int]  NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](1000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](20) NULL,
	
	[app_id] [uniqueidentifier] NOT NULL,
	RowIndex int  null)

insert into @Role
SELECT * ,
ROW_NUMBER() OVER(ORDER BY Name) AS RowIndex
from [Role] WHERE Name LIKE concat ('%', @text ,'%') 

select @totalRecord=count(1) from @Role

select * from @Role
order by RowIndex
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;


end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUser]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Usp_GetUser]
@Username varchar(50)
as
begin
SELECT * from [User] WHERE Username = @Username

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUserPaging]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATING A PAGING WITH OFFSET and FETCH clauses IN "SQL SERVER 2012"

CREATE proc [dbo].[Usp_GetUserPaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin


declare @User as table (
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](1000) NULL,
	[LastLogin] [datetime] NULL,
	[IsLogin] [bit] NULL,
	[IPAddress] [varchar](15) NULL,
	[MachineName] [varchar](100) NULL,
	[IsActive] [bit] NULL,	
	[app_id] [uniqueidentifier] NOT NULL,
	RowIndex int not null
	);

insert into @User
SELECT * 
,ROW_NUMBER() OVER(ORDER BY username) AS RowIndex
FROM [User]
where Username like concat ('%', @text ,'%') 


select @totalRecord=count(1) from @User

select * from @User
ORDER BY RowIndex
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUserPrevillageByUsername]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Usp_GetUserPrevillageByUsername]
@Username varchar(100)
as
begin
 
 select distinct * from v_UserPrevillage 
 where Username=@Username
 and Menu<> ''
end


GO
/****** Object:  StoredProcedure [dbo].[Usp_InsertLog]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_InsertLog]
           @ComputerName  varchar(100)
           ,@IPAddress  varchar(15)
           ,@LogType  varchar(50)
           ,@LogMessage  varchar(max)
           ,@Username  varchar(100)
		   as
begin


INSERT INTO [Log]
                                       (LogDate
                                       ,ComputerName
                                       ,IPAddress
                                       ,LogType
                                       ,LogMessage
                                       ,Username)
                                 VALUES
                                       (getdate()
                                       ,@ComputerName
                                       ,@IPAddress
                                       ,@LogType
                                       ,@LogMessage
                                       ,@Username)
end

GO
/****** Object:  StoredProcedure [dbo].[Usp_InsertMenu]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Usp_InsertMenu]
@Code varchar(100) ='' ,
@Name varchar(500) ='' ,
@ParentID int =0 ,
@Sequence int =0 ,
@Ico varchar=null ,
@Description varchar(max)='' ,
@CreatedBy varchar(50)='' ,
@Shortcut varchar(500)='' ,
@Ctrl int =0, 
@Shift int =0, 
@Alt int =0
as
begin
INSERT INTO Menu
           (Code
           ,Name
           ,Description
           ,ParentID
           ,Sequence
           ,Ico
		   ,CreatedBy, CreatedDate ,Shortcut, Ctrl, [Shift], Alt  )
     VALUES
           (@Code
           ,@Name
           ,@Description
           ,@ParentID
           ,@Sequence
           ,@Ico
		   ,@CreatedBy, getdate(),@Shortcut,@Ctrl, @Shift, @Alt )

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_InsertRole]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_InsertRole]
@Name varchar(100)
           ,@Description varchar(1000)
           --,@CreatedDate datetime
           ,@CreatedBy varchar(20)
           --,@ModifiedDate datetime
           --,@ModifiedBy varchar(20)
as
begin
     INSERT INTO [Role]
           (Name
           ,Description
           ,CreatedDate
           ,CreatedBy)
     VALUES
           (@Name
           ,@Description
           ,getdate()
           ,@CreatedBy)
end

GO
/****** Object:  StoredProcedure [dbo].[Usp_InsertUser]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 create proc [dbo].[Usp_InsertUser]
 @Username varchar(50),
 @Password varchar(1000)
 as
 begin
 INSERT INTO [User]
           (Username
           ,Password
          , IsActive)
     VALUES
           (@Username
           ,@Password
           ,1)

END

GO
/****** Object:  StoredProcedure [dbo].[Usp_InsertUserRole]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[Usp_InsertUserRole]
 @Username varchar(50),
 @RoleID int
 
as 
begin
INSERT INTO UserRole
           (Username
           ,RoleID)
     VALUES
           (@Username
           ,@RoleID)

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateMenu]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Usp_UpdateMenu]

@ID int,
@Code varchar(100) ='' ,
@Name varchar(500)=''  ,
@ParentID int =0,
@Sequence int =0,
@Ico varchar=null ,
@Description varchar(max)=''  ,
@ModifiedBy varchar(50) ='', 
@Shortcut varchar(500)='' ,
@Ctrl int =0, 
@Shift int =0, 
@Alt int =0
as
begin

UPDATE Menu
   SET Code = @Code
      ,Name = @Name
      ,Description = @Description
      ,ParentID = @ParentID
      ,Sequence = @Sequence
      ,Ico = @Ico
	  ,ModifiedDate = getdate()
	  ,ModifiedBy =@ModifiedBy
	  , Shortcut=@Shortcut
	  , Ctrl=@Ctrl
	  , [Shift]=@Shift
	  , Alt=@Alt
 WHERE ID=@ID

end

GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateRole]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_UpdateRole]
@ID int
,@Name varchar(100)
           ,@Description varchar(1000)
           --,@CreatedDate datetime
           --,@CreatedBy varchar(20)
           --,@ModifiedDate datetime
           ,@ModifiedBy varchar(20)
as
begin
    UPDATE [Role]
   SET Name = @Name
      ,Description = @Description      
      ,ModifiedDate = getdate()
      ,ModifiedBy = @ModifiedBy
 WHERE ID=@ID
end

GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateUser]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Usp_UpdateUser]
@Username varchar(50)
,@IPAddress varchar(15)
,@MachineName varchar(100)
as
begin
UPDATE [User]
   SET LastLogin =  getdate()
      ,IsLogin = 1
      ,IPAddress = @IPAddress
      ,MachineName = @MachineName      
 WHERE  Username = @Username
 end

GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateUserPassword]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Usp_UpdateUserPassword]
 @Username varchar(50),
 @Password varchar(1000)
 
as 
begin
update [User]
           set Password =@Password
          , IsActive=1
		  where Username=@Username
end

GO
/****** Object:  Table [dbo].[Application]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Application](
	[app_id] [uniqueidentifier] NOT NULL,
	[app_name] [varchar](100) NULL,
	[edited] [datetime] NULL,
	[editor] [varchar](50) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
 CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED 
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Log]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Log](
	[LogDate] [datetime] NOT NULL,
	[ComputerName] [varchar](100) NULL,
	[IPAddress] [varchar](15) NULL,
	[LogType] [varchar](50) NULL,
	[LogMessage] [varchar](max) NULL,
	[Username] [varchar](100) NULL,
	[app_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](100) NULL,
	[Name] [varchar](500) NULL,
	[ParentID] [int] NULL,
	[Sequence] [int] NULL,
	[Ico] [varchar](500) NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Shortcut] [varchar](500) NULL,
	[Ctrl] [int] NULL,
	[Shift] [int] NULL,
	[Alt] [int] NULL,
	[Route] [varchar](100) NULL,
	[Action] [varchar](100) NULL,
	[app_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Previllage]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Previllage](
	[MenuID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AllowCreate] [bit] NULL,
	[AllowRead] [bit] NULL,
	[AllowUpdate] [bit] NULL,
	[AllowDelete] [bit] NULL,
	[AllowPrint] [bit] NULL,
	[app_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_previllage] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](1000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](20) NULL,
	[app_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](1000) NULL,
	[LastLogin] [datetime] NULL,
	[IsLogin] [bit] NULL,
	[IPAddress] [varchar](15) NULL,
	[MachineName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[app_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[RoleID] [int] NULL,
	[app_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_userrole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[v_UserPrevillage]    Script Date: 12/09/2025 21:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[v_UserPrevillage]
as 
select t1.Username,t4.Name [Role], ISNULL(t5.Code,'') [Menu], t3.* 
from [User] t1
inner join [UserRole] t2 on t1.Username = t2.Username
inner join [Previllage] t3 on t2.RoleID = t3.RoleID
inner join Menu t5 on t5.ID = t3.MenuID
inner join Role t4 on t4.ID= t3.RoleID


GO
